<ion-view view-title="Search">
    <ion-content>
        <div>
            Search teste-before
            <div id="teste">
                <div style="background-color: red;"> oooooi </div>tchau
            </div>
            texto-teste
            <div id="teste" style="background-color: yellow;" ng-click="falar('ahjsdhajsdh')">hhhhh</div>
            <div>falal lujjjj</div>
            <h1 ng-click="fazerAlgo('alguma coisa')">Ola</h1>
            <div style="background-color: green;">verde</div>
            <div style="background-color: gray;">cinza</div>
        </div>
    </ion-content>
</ion-view>